.sheet-info, .sheet-input, .sheet-explore {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid black;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    font-size: small;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle;
    box-shadow: 2px 2px 4px #888888;
}

.cell-input, .cell-view {
    padding-left: 6px;
    padding-right: 6px;
    border: 1px dashed;
    border-radius: 10%;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    font-size: small;
    vertical-align: middle;
    font-style: italic;
    font-weight: bold;
}
  
.sheet-info {
    background-color: #ffff00;
}
  
.sheet-input {
    background-color: #c65911;
    color: white;
}
  
.sheet-explore {
    background-color: #0070c0;
    color: white;
}

.cell-input {
    background-color: #00b0f0;
    color: black;
}

.cell-view {
    background-color: #ffff00;
    color: black;
}
  
section[id^="sec-"] img {
    border-radius: 1%;
    border: 1px solid;
    box-shadow: 2px 2px 4px #888888;
}

section h4 {
    text-align: center;
}

section[id^="sec-"] p, li {
    text-align: justify;
}

section  h4::after {
    content: "";
    display: block;
    border-top: 1px dashed #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}